<% layout("layouts/boilerplate") -%>
<body>
    <h3>All Listings</h3>
    <!-- <form action="/listings/new" method="GET">
        <button>Create new list</button>
    </form> -->
    <div>
        <%for (let listing of allListing){%>
            <li><a href="/listings/<%= listing._id%>"><b><%=listing.title%></b></a></li>
        <%}%>
    </div>
</body>

